<header>
    <div class="hero">
        <section class="layout">
            <div class="branding">
                <a href="/">
                    <img src="/images/misc/rouxacademymeetups.svg" alt="Academy Logo" />
                </a>
            </div><!-- Branding -->
        </section><!-- Layout -->
    </div><!-- Hero -->

    <div class="navigation">
        <section class="layout">
            <ul class="nav">
                <li><a href="/"><span class="fa fa-home"></span> Home</a></li>
                <li><a href="/warriors"><span class="fa fa-shield"></span> Warriors</a></li>
            </ul><!-- Nav -->
        </section><!-- Layout -->
    </div><!-- Navigation -->
</header>